{% extends "admin_layout.html" %}

{% block content %}

<body>

    {% if error == True %}
    <div class="alert alert-danger alert-dismissible fade show">
        <strong>Error!</strong> The post was not created!
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    {% if error == False %}
    <div class="alert alert-primary alert-dismissible fade show">
        <strong>Error!</strong> The post was created!
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    <nav class="navbar navbar-light bg-light">
        <a style="color: #17a2b8;" class="navbar-brand" href="{{ url_for('main') }}">Back to pyBLOG</a>
        <a style="color: #17a2b8;" class="navbar-brand" href="{{ url_for('panel') }}">Panel</a>
    </nav>

    <div class="card my-4">
        <h5 class="card-header" >New Post:</h5>
        <div class="card-body">
          <form method="post">
            <div class="form-group">
                <label for="title" class="text-info">New Post title:</label><br>
                <textarea value="{{ request.form.title }}" name="title" type="text" class="form-control" rows="1" placeholder="Post content"></textarea>
            </div>
            <div class="form-group">
                <label for="title" class="text-info">Post content:</label><br>
                <textarea value="{{ request.form.content }}" name="content" type="text" class="form-control" rows="3" placeholder="Post content"></textarea>
            </div>
            <button type="submit" style="background-color: #17a2b8; border-color: #17a2b8;" value="submit" class="btn btn-primary">Create Post</button>
          </form>
        </div>
    </div>




</body>
{% endblock %}