html {
    font-family: 'Rokkitt', serif;
}

.banner {
    height: 100vh;
    min-height: 500px;
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.post {
    border-collapse: collapse;
	width: 1600px;
	margin: 0 auto;	
}

.post h1{
    font-size: 30px;
    margin-top: 20px;
    border-bottom: 6px solid #6495ED;
    margin-bottom: 20px;
    color: #6495ED;
}

.post h2{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 4px;
    padding: 0px 0;
    color: #6495ED;
    font-weight: bold;
}

.textbox {
    
}