{% extends "layout.html" %}

{% block content %}

<body>
    {% if error == True %}
    <div class="alert alert-danger alert-dismissible fade show">
        <strong>Error!</strong> The post you searched for may not exist
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    {% for post in posts %}

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="post">
                <h1>{{ post[0] }}</h1>
                <h2>{{ post[1] }} | {{ post[2] }}</h2>
                <p>{{ post[3] }}</p>
            </div>            
        </div>
    </div>

    <!-- <div class="container-fluid">
        <p>title: {{ post[0] }}</p>
        <p>author: {{ post[1] }}</p>
        <p>date: {{ post[2] }}</p>
        <p>{{ post[3] }}</p>
    </div> -->

    {% endfor %}
</body>

{% endblock %}